body
{
    /* background: #222222;  */
    background: url(./sprites/background/space.png);
    width: 100vw;
    height: 100vh;
}

.background
{
    background: url(./sprites/background/background.png) 100px repeat;
    position: absolute;
    width: 1920px;
    height: 1000px;
    background-size: cover;
    top: 0px;
    left: 0px;
    transition: 1s linear;
}

.player
{
    position: absolute;
    top:90vh;
    left:50vw;
    width: 80px;
    height: 80px;
    background: url(./sprites/vaisseaux/joueur/Basic.png);
    transition: top 0.1s linear, left 0.1s linear;
}
